/* Named Colors
color: red;
color: blue;
color: papayawhip;
*/

/* RGB
color: rgb(255, 100, 250);
color: rgb(105, 8, 50);
color: rgb(50, 100, 250);
 */

 /* Hex
 color: #FF1587
 color: #15d235
 color: #f8cfc2
 */