#percentage-parent{
    text-align: center;
    height: 400px;
    width: 400px;
    background-color: aqua;
}

#percentage{
    height: 25%;
    width: 25%;
    background-color: red;
}

#h2-em{
    font-size: 3em;
}

#p-em{
    font-size: 1.5em;
}

article{
    font-size: 10px;
}

#article-em{
    font-size: medium;
}

#article-rem{
    font-size: medium;
}

#article-em ul{
    font-size: 2em;
}

#article-rem ul{
    font-size: 2rem;
}